BASE_URL=http://my.preproduction.pajak.io/
LOGIN_URL=/login
DASHBOARD_URL=/dashboard
APP_USERNAME=pengentestefaktur@yopmail.com
PASSWORD=aaAA11!!
COMPANY_NPWP=0717166367077000
EBUPOT_NITKU=NAMA0717166367077000 - 0717166367077000000000
